.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid $colorBlack;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    margin: 0;
    padding: 0;
  }

  &__tab {
    cursor: pointer;
    display: inline-block;
    font-size: clamp(.75rem, 2.5vw, 1.125rem);
    font-weight: $fontBold;
    list-style: none;
    padding: clamp(0rem, 2.5vw, $spacing-xs);
    padding-bottom: clamp(.75rem, 2.5vw, 1.25rem);
    position: relative;
    text-align: center;

    &:focus {
      outline: 1px $colorGray;

      &::after {
        background-color: $colorGray-3;
      }
    }

    &::after {
      background-color: $colorGray-3;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      inset: auto 0 0 0;
      transition: $trans-all-quick;
    }

    &--selected {
      color: $colorBlack;

      &::after {
        height: .25rem;

        @include mq-md {
          height: .5rem;
        }
      }
    }

    &--disabled {
      color: $colorGray;
      cursor: default;
    }
  }

  &__tab-panel {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: $trans-all-quick;
    transition-delay: calc($trans-duration / 2);
    transition-property: opacity;
    z-index: -1;

    &--selected {
      opacity: 1;
      padding: $spacing-lg 0;
      pointer-events: all;
      z-index: 0;
    }
  }

  &[data-pagination="true"] {

    .react-tabs__tab-list {
      border: 0;
      display: block;
    }

    .react-tabs__tab {
      border: 1px solid $colorBlack;
      border-radius: .25rem;
      font-size: .875rem;
      margin-right: 1ch;
      padding: .25rem $spacing-xs;

      &::after {
        display: none;
      }

      &--selected {
        background-color: $colorBlack;
        color: $colorWhite;
      }
    }

    .react-tabs__tab-panel--selected {
      padding-top: $spacing;
    }
  }
}
