.button {
  background-color: $colorGreen;
  border: 1px solid transparent;
  border-radius: $spacing;
  color: $colorWhite;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: $fontBold;
  margin: $spacing $spacing 0 0;
  padding: $spacing-xs $spacing;
  transition: $trans-all-quick;

  &--blue {
    background-color: $colorNavy;
    color: $colorWhite;
  }

  &--blue-outline {
    background-color: $colorWhite;
    border-color: $colorNavy;
    color: $colorNavy;
  }

  &--green {
    background-color: $colorGreen;
    color: $colorWhite;
  }

  &--green-outline {
    background-color: $colorWhite;
    border-color: $colorGreen;
    color: $colorGreen;
  }

  &--white {
    background-color: $colorWhite;
    color: $colorNavy;
  }

  &--white-outline {
    background-color: transparent;
    border-color: $colorWhite;
    color: $colorWhite;
  }

  &--dismiss {
    background-color: transparent;
    height: 1.5rem;
    padding: 0;
    position: absolute;
    right: -$spacing-sm;
    top: -$spacing-sm;
    width: 1.5rem;

    &::before,
    &::after {
      background-color: $colorBlack;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: .875rem;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}
