.button {
  background-color: $colorGreen;
  border: 1px solid transparent;
  border-radius: $spacing;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: $fontBold;
  color: $colorWhite;
  padding: $spacing-xs $spacing;
  transition: $trans-all-quick;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($colorGreen, 5%);
  }

  &--secondary {
    background-color: $colorWhite;
    border-color: $colorGreen;
    color: $colorGreen;

    &:hover,
    &:active,
    &:focus {
      background-color: $colorWhite;
      color: $colorGreen;
    }
  }

  &--white {
    background-color: $colorWhite;
    color: $colorNavy;
  }
}
