.button {
  border: 1px solid transparent;
  border-radius: $spacing;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: $fontBold;
  color: $colorWhite;
  padding: $spacing-xs $spacing;
  transition: $trans-all-quick;

  &--blue {
    background-color: $colorNavy;
    color: $colorWhite;
  }

  &--blue-outline {
    background-color: $colorWhite;
    border-color: $colorNavy;
    color: $colorNavy;
  }

  &--green {
    background-color: $colorGreen;
    color: $colorWhite;
  }

  &--green-outline {
    background-color: $colorWhite;
    border-color: $colorGreen;
    color: $colorGreen;
  }

  &--white {
    background-color: $colorWhite;
    color: $colorNavy;
  }

  &--white-outline {
    background-color: transparent;
    border-color: $colorWhite;
    color: $colorWhite;
  }
}
