.fieldset {
  display: grid;
  grid-gap: $spacing-sm;
  margin: 0 0 $spacing-lg 0;

  .form--2col &:not(.fieldset--1col) {
    @include mq-md {
      grid-template-columns: repeat(2, 1fr);
    }

    .fieldset {
      padding: $spacing-sm 0;
      margin: 0;

      @include mq-md {
        grid-gap: $spacing-xs;
        grid-template-columns: 1fr;
      }
    }
  }

  /* one column layouts -- automatically applied to a fieldset containing checkboxes or radio controls */
  /* must be explicitly declared for FireFox: https://caniuse.com/css-has */ 
  &--1col,
  &:has(.input-radio),
  &:has(.input-checkbox) {
    grid-gap: $spacing-xs;

    @include mq-md {
      grid-template-columns: 1fr;
    }

    > div {
      grid-column: 1/span 12;
    }
  }

  &__label {
    @extend .label;
    grid-column: 1/span 2;
  }

  &__sublabel,
  &__infotext {
    grid-column: 1/span 2;
    font-size: .75rem;
  }

  &__sublabel {
    margin: -.25rem 0 0;
  }

  &__infotext {
    background-color: rgba(26, 71, 110, 0.1);
    display: inline-block;
    margin: .5rem 0;
    max-width: unset;
    padding: $spacing-xs;
  }
}
