.fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-sm;
  margin: 0 0 $spacing 0;

  @include mq-md {
    grid-template-columns: repeat(2, 1fr);
  }

  & + .fieldset {
    padding-top: $spacing;
  }

  .fieldset {
    padding: $spacing-sm 0;
    margin: 0;

    @include mq-md {
      grid-gap: $spacing-xs;
    }
  }

  /* one column layouts for things like radios/checkboxes */
  &--1col {
    grid-gap: $spacing-xs;

    @include mq-md {
      grid-template-columns: 1fr;
    }

    .fieldset {
      grid-column: 1;
    }
  }

  &__label {
    @extend .label;
    grid-column: 1/span 2;
    max-width: unset;
  }

  &__sublabel,
  &__infotext {
    font-size: .75rem;
    grid-column: 1/span 2;
    justify-self: start;
    max-width: unset;
  }

  &__sublabel {
    margin: -.25rem 0 0;
  }

  &__infotext {
    background-color: rgba(26, 71, 110, 0.1);
    display: inline-block;
    margin: .5rem 0;
    padding: $spacing-xs;
  }
}
