.input {
  border: 1px solid $colorGray-3;
  display: block;
  font-size: .875rem;
  max-width: 42rem;
  padding: .5rem;
  width: 100%;
}

.label {
  @extend .rhythm;
  display: block;
  font-size: .875rem;
  font-weight: $fontBold;
  margin-bottom: .5rem;
}
