.input {
  border: 1px solid $colorGray-3;
  display: block;
  font-size: .875rem;
  max-width: 42rem;
  padding: .5rem;
  width: 100%;

  &:invalid,
  &.hasError {
    border-color: $colorRed;
  }
}
