.global-nav {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: $trans-all-quick;
  zoom: 1.33;

  @include mq-md {
    align-items: end;
    opacity: 1;
    zoom: 1;
  }

  [aria-hidden="false"] & {
    opacity: 1;
    transition-delay: .25s;
  }

  &__main,
  &__utility {
    flex: 0 1 50%;
  
    li {
      font-size: .875rem;
      margin: .25rem .75rem;

      @include mq-md {
        display: inline-block;
      }

      @include mq-lg {
        font-size: 1rem;
      }

      &:last-of-type {
        @include mq-md {
          margin-right: 0;
        }
      }
    }
  }

  &__main {
    @include mq-md {
      order: 2;
    }
  }

  &__utility {
    @include mq-md {
      order: 1;
    }

    .link--white {
      font-weight: normal;
    }
  }

  hr {
    appearance: none;
    background-color: $colorWhite;
    border: 0;
    height: 1px;
    width: 100%;

    @include mq-md {
      display: none;
    }
  }
}
