.card {
  background-color: $colorWhite;
  border: 1px solid $colorGray;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  max-width: 100%;
  min-height: 20rem;
  padding: $spacing $spacing $spacing-sm;
  position: relative;
  text-align: center;

  &__title,
  &__id,
  &__status-text {
    display: block;
  }

  &__title {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.25;
  }

  &__id {
    font-size: .75rem;
    font-style: normal;
    font-weight: $fontBold;
    padding: $spacing-sm 0;
  }

  &__status {
    @extend .rhythm;
    color: $colorNavy;
    font-size: .75rem;
    margin-top: auto;
    padding-top: $spacing;

    .button {
      margin: $spacing-xs 0;
    }
  }

  &__copy {
    margin: $spacing 0 0;
  }

  .tooltip {
    position: absolute;
    right: $spacing-xs;
    top: $spacing-xs;
  }

  i,
  p {
    display: block;
    max-width: 100%;
  }
}
