.global-footer {
  background-color: $colorNavy;
  color: $colorWhite;
  padding: 3rem 0;

  &__layout {
    @extend .grid;
  }

  &__brand {
    grid-column: 1/span 12;
    grid-row: 1;

    @include mq-md {
      grid-column: 1/span 4;
    }
  }

  &__copy {
    font-size: .75rem;
    grid-column: 1/span 12;
    grid-row: 3;
  }

  &__nav {
    grid-column: 1/span 12;
    grid-row: 2;

    @include mq-md {
      grid-column: 9/span 4;
      grid-row: 1;
    }
  }
}
