.input-radio {
  align-items: start;
  display: grid;
  grid-template-columns: 2rem 1fr;

  .input[type="radio"] {
    justify-self: left;
    grid-column: 1;
    grid-row: 1;
    width: auto;
    
    & + div {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .label {
    grid-column: 2/span 11;
    margin: 0;
  }
}
