.input-checkbox {
  align-items: start;
  display: flex;

  .input {
    display: block;
    margin-top: 4px;
    order: 0;
    width: auto;
  }

  .label {
    margin: 0 0 0 .75ch;
    order: 1;
  }
}
