.input-checkbox {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1.66rem 1fr;
  grid-column: 1;

  .input {
    justify-self: left;
    grid-column: 1;
    grid-row: 1;
    width: auto;
    
    & + div {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .label {
    grid-column: 2;
    margin: 0;
  }
}
