.global-header {
  background-color: $colorNavy;
  padding: $spacing-sm 0;

  @include mq-md {
    padding: $spacing 0;
  }

  &__layout {
    align-items: center;
    @extend .grid;
  }

  &__brand {
    grid-column: 1/span 3;

    svg {
      height: auto;
      max-width: 140px;
      pointer-events: none;
    }

    @include mq-md {
      grid-column: 1/span 2;
    }
  }

  &__nav {
    grid-column: 1/span 12;
    text-align: center;

    @include mq-md {
      grid-column: 6/span 7;
      text-align: right;
    }
  }
}
