.global-footer {
  background-color: $colorNavy;
  color: $colorWhite;
  margin-top: $spacing-xl;
  padding: $spacing 0;

  &__layout {
    @extend .grid;
  }

  &__brand {
    grid-column: 1/span 12;
    grid-row: 1;
    margin-bottom: $spacing-lg;

    @include mq-md {
      grid-column: 1/span 4;
    }
  }

  &__copy {
    font-size: .75rem;
    grid-column: 1/span 12;
    grid-row: 3;
    margin-top: $spacing-lg;

    @include mq-md {
      align-self: end;
      grid-column: 1/span 8;
      grid-row: 2;
    }
  }

  &__nav {
    display: flex;
    grid-column: 1/span 12;
    grid-row: 2;

    @include mq-md {
      grid-column: 7/span 6;
      grid-row: 1/span 2;
    }

    @include mq-xl {
      grid-column: 9/span 4;
      grid-row: 1/span 2;
    }

    &-item {
      flex: 0 1 50%;
      font-size: .875rem;

      @include mq-md {
        margin-left: $spacing;
      }

      strong {
        border-bottom: 1px solid $colorTeal;
        display: block;
        font-size: 1.25rem;
        margin-bottom: $spacing-sm;
        padding-bottom: $spacing-xs;
      }

      p {
        line-height: 1.75;
        margin-bottom: $spacing;
      }
  
      .link {
        display: inline-block;
        margin: 0 0 $spacing-sm;
        line-height: 1.2;
      }

      .link--icon-only {
        margin: 0 $spacing-sm 0 0;
      }
    }
  }


  &--light {
    background-color: $colorWhite;
    color: $colorBlack;    

    .link {
      color: $colorNavy;

      &:hover,
      &:active,
      &:focus {
        border-color: $colorNavy;
      }
    }
  }

  &--flush {
    margin-top: 0;
  }
}
