.marquee {
  background-color: $colorWhite;
  color: $colorBlack;
  padding: 8.25rem 0;

  &__layout {
    @extend .grid;
    align-items: center;
  }

  &__major {
    @extend .rhythm--large;
    grid-column: 1/span 12;

    .isForgot &,
    .isVerification &,
    .isChangePassword &,
    .isSignIn & {
      background-color: $colorWhite;
      border-radius: 1rem;
      color: $colorBlack;
      padding: $spacing;

      @include mq-md {
        grid-column: 2/span 10;
        padding: $spacing-lg;
      }

      .heading {
        color: $colorBlack;
      }
    }
  }

  &__cta {
    margin-top: $spacing;
  }

  &__forgot {
    background-color: $colorWhite;
  }

  &__alerts {
    grid-column: 1/span 10;
    grid-row: 2;
  }

  &--dark {
    background-color: $colorNavy;
    color: $colorWhite;

    .heading {
      color: $colorWhite;
    }
  }

  &--split-image {
    padding: 0;

    .marquee__major {
      grid-column: 1/span 12;
      padding: $spacing 0;

      @include mq-md {
        grid-column: 1/span 6;
        padding: $spacing-lg 0;
      }
    }

    .marquee__minor {
      display: none;

      @include mq-md {
        display: block;
        grid-column: 8/span 5;
      }
    }
  }
}
