$maxCharWidth: 55ch;

.heading {
  font-weight: $fontBold;

  &--h1 {
    font-size: 3rem;
    max-width: $maxCharWidth;
  }

  &--h2 {
    font-size: 1.5rem;
    max-width: $maxCharWidth;
  }

  &--h3 {
    font-size: 1.25rem;
    max-width: $maxCharWidth;
  }

  &--h4 {
    font-size: 1rem;
  }

  &--h5 {
    font-size: .875rem;
  }

  &--h6 {
    font-size: .75rem;
  }
}
