.tooltip {
  background-color: transparent;
  background-image: url(../../assets/icon-tooltip-trigger.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: .875rem;
  overflow: visible;
  position: relative;
  width: .875rem;
  z-index: $z-index-tooltip;

  & > span {
    background-color: $colorBlack;
    border-radius: .25rem;
    bottom: calc(100% + 6px);
    color: $colorWhite;
    display: block;
    font-size: .75rem;
    right: -17px;
    max-width: 80vw;
    min-width: 8rem;
    opacity: 0;
    padding: $spacing-xs;
    pointer-events: none;
    position: absolute;
    transition: $trans-all-quick;
    width: 17rem;

    &::after {
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: $colorBlack transparent transparent transparent;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 1.125rem;
      top: 100%;
      width: 0;
    }
  }

  &:hover,
  &:active,
  &:focus {
    & > span {
      opacity: 1;
      pointer-events: all;
    } 
  }
}
