.card-deck {
  &__layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing;

    @include mq-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq-md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq-lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
