.global-header {
  background-color: $colorNavy;
  left: 0;
  padding: $spacing-sm 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  @include mq-md {
    padding: $spacing 0;
  }

  &__layout {
    align-items: center;
    @extend .grid;
  }

  &__brand {
    grid-column: 1/span 4;
    position: relative;
    z-index: 201;

    svg {
      vertical-align: middle;
      height: auto;
      max-width: 140px;
      pointer-events: none;
    }

    @include mq-md {
      grid-column: 1/span 2;
    }
  }

  &__nav {
    align-items: center;
    background-color: $colorNavy;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 200;
    zoom: 1.25;

    @include mq-md {
      grid-column: 3/span 10;
      justify-content: end;
      opacity: 1;
      pointer-events: all;
      position: relative;
      text-align: right;
      zoom: 1;
    }

    &[aria-hidden="false"] {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__toggle {
    grid-column: 12;
    position: relative;
    z-index: 201;

    @include mq-md {
      display: none;
    }
  }
}
